@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 54px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 24px;
}

/* Container */
.container {
    max-width: 1300px;
    margin: auto;
}

/* Buttons class */
button {
    border-radius: 6px;
    width: 130px;
    height: 40;
    padding: 10px;
    font-size: 15px;
}

.button-white:hover {
    background-color: #18A0FB;
    color: white;
    transition-duration: 1s;
}

.button-blue:hover {
    background-color: white;
    color: #18A0FB;
    transition-duration: 1s;
}

.button-white {
    background-color: white;
    color: #18A0FB;
    border: 1px solid #18A0FB;
}

.button-blue {
    background-color: #18A0FB;
    color: white;
    border: 1px solid #18A0FB;
}

/* NavBar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
}

.navbar span {
    font-size: 24px;
}

.navbar a,
.content-nav-footer a {
    list-style: none;
    text-decoration: none;
    font-size: 16px;
}

.navbar a {
    color: #18A0FB;
}

.navbar a:hover,
.navbar span:hover,
.content-nav-footer nav ul li a:hover {
    text-decoration: underline;
}

.navbar nav {
    float: right;
    margin: 7px 0 0 30px;
}

.navbar nav ul li {
    display: inline;
    padding: 0 20px;
    color: #18A0FB;
}

.svg-icon {
    display: flex;
    float: left;
    margin-right: 10px;
}

/* Banner */
.bg-banner {
    background: no-repeat url(./images/banner-principal.jpg);
    height: 960px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    margin-top: 50px;
}

.banner h1 {
    text-align: center;
    margin: 80px 0 40px 0;
}

/* Secao 1 Main */
.secao-1-main {
    height: 960px;
}

.secao-1-main h2 {
    max-width: 750px;
    padding: 120px 0 20px 20px;
}

.box-secao-1 {
    display: flex;
    flex-flow: row wrap;
}

.content-box-secao-1 {
    max-width: 600px;
    margin: 20px 25px;
    line-height: 32px;
}

.content-box-secao-1 p {
    padding: 10px 0 20px 0;
}

.content-box-secao-1 p,
.content-box-2-3 p {
    font-size: 18px;
    text-align: justify;
}

/* secao-2-3-main */
.secao-2-3-main {
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-box-2-3 {
    width: 700px;
    display: flex;
    margin: 0 70px;
    align-items: flex-start;
    flex-flow: row wrap;
}

.content-box-2-3 img {
    max-width: 550px;
    height: 380px;
}

.content-box-2-3 h3,
.content-box-2-3 p {
    padding: 20px 0;
}

/* secao-4-main */
.secao-4-main {
    height: 740px;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
}

.secao-4-main h2 {
    margin: 120px 0px 30px 0px;
}

.secao-4-main p,
.secao-5-main p,
.logo-footer spam {
    font-size: 32px;
}

.galeria-secao-4 {
    width: 1000px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    margin: auto;
}

.img-galeria {
    height: 80px;
    max-width: 180px;
    padding: 0px 20px;
}

.img-galeria img {
    height: 80px;
    width: 180px;
}

/* Secao 5 Main */
.secao-5-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 340px;
    margin: 0 20px;
}

.button-secao-5 {
    display: flex;
}

.button-secao-5 button {
    margin: 20px;
}

.Bg-color {
    background-color: rgb(224, 224, 224);
}

.nav-footer {
    height: 500px;
}

.content-nav-footer {
    height: 50px;
    width: 400px;
    margin: 120px 0px 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright {
    background-color: #18A0FB;
    height: 50px;
    width: 300px;
}

.menu-nav-footer {
    display: flex;
    justify-content: space-between;
}

.menu-footer nav ul li {
    display: inline;
    list-style: none;
    text-decoration: none;
    padding: 20px;
}

.content-nav-footer a {
    color: black;
}

.fa-brands {
    color: #18A0FB;
}

.fa-brands:hover {
    color: #0d598c;
}

.center {
    text-align: center;
    margin: 80px;
}

.center p {
    padding: 30px;
    color: rgba(0, 0, 0, 0.885);
}

.center nav ul li {
    font-size: 40px;
}

.navbar img, .logo-footer img {
    width: 35px;
    height: auto;
    border-radius: 40px;
    padding-right: 5px;
}

