@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Container */
.container {
    max-width: 1300px;
    margin: auto;
}

/* Class dos Button */
button {
    border-radius: 6px;
    width: 130px;
    height: 40;
    padding: 10px;
    font-size: 15px;
}

.button-white:hover {
    background-color: #18A0FB;
    color: white;
    transition-duration: 1s;
}
.button-blue:hover {
    background-color: white;
    color: #18A0FB;
    transition-duration: 1s;
}

.button-white {
    background-color: white;
    color: #18A0FB;
    border: 1px solid #18A0FB;
}

.button-blue {
    background-color: #18A0FB;
    color: white;
    border: 1px solid #18A0FB;
}

/* NavBar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
}

.navbar span {
    font-size: 24px;
}

.navbar a {
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    color: #18A0FB;
}

.navbar a:hover,
.navbar span:hover {
    text-decoration: underline;
}

.navbar nav {
    float: right;
    margin: 5px 0 0 30px;
}

.navbar nav ul li {
    display: inline;
    padding: 0 20px;
}

.svg-icon {
    display: flex;
    float: left;
    margin-right: 10px;
}

/* Primeira Section antes do main*/
.bg-banner {
    background: no-repeat url(./images/banner-principal.jpg);
    height: 960px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    margin-top: 50px;
}

.banner h1 {
    font-size: 54px;
    text-align: center;
    margin: 80px 0 40px 0;
}

/* Primeira section main */
.first-section-main {
    height: 960px;
    margin: auto;
}

.box-1-sec {
    display: flex;
    flex-flow: row wrap;
}

.first-section-main h2 {
    font-size: 48px;
    max-width: 750px;
    padding: 120px 0 20px 20px;
}

.content-box-1-sec {
    max-width: 600px;
    margin: 20px 20px;
    line-height: 32px;
}

.content-box-1-sec h3,
.box-sec-second h2 {
    padding: 10px 0;
    font-size: 24px;
    font-weight: 900;

}

.content-box-1-sec p,
.box-sec-second p {
    padding: 10px 0 20px 0;
    font-size: 18px;
}
.segunda-section-main {
    width: auto; /*auto acompanha largura ou altura da tela/container*/
    height: 500px;
    display: flex;
    align-items: center;
}
.content-box-2-sec {
    width: 600px;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column nowrap;
    margin: 0 40px;

}
.content-box-2-sec img {
    max-width: 600px;
    height: 380px;


}
.content-box-2-sec h3, .content-box-2-sec p {
    padding: 20px; /*tamanho do conteúdo*/

}
.terceira-section-main {
        height: 740px;
        text-align:center; /*centraliza o texto dentro do container*/
        display: flex;
        flex-flow: column nowrap; /*centralizar a galeria no meio horizontalmente*/

        
    }

.terceira-section-main h2 {
        font-size: 48px; /*altera fonte*/
        margin: 120px 0px 15px 0px;
    

    }

    .terceira-section-main p {
        font-size: 36px;


    }


.galeria-terceira-section {
    width: 1000px; /*largura*/
    height: 250px;  /*altura*/
    display: flex; /*quebra dos blocos*/
    justify-content: space-between; /*centraliza na horizontal ou vertical*/
    align-items:center;  /*ele centraliza horizontal ou vertical*/
    flex-flow: row wrap; /*dar direcionamento para ver se quebra de linha ou coluna*/
    margin: auto; /*centriza container dentro da página. Ajusta as margens centralizado*/
}

.img-galeria {
    height: 80px;
    max-width: 180px;
    padding: 0px 20px; /*aumenta tamanho do conteudo/neste caso "margem"*/
    
}

.img-galeria img {
    height: 80px;
    width: 180px;


}
.ultimo-box {
    height: 340px;

}
.nav-footer {
    height: 500px;
    
    
    /**justify-content: space-between; /*alinhar na horizontal*/
}
.content-nav-footer{
    height: 50px;
    width: 400px;
    margin: 120px 0px 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.copyright {
    background-color: #18A0FB;
    height: 50px;
    width: 300px;
}
.menu-nav-footer {
    display: flex;
    justify-content: space-between;
}
.menu-footer  nav ul li{
    display: inline;
    list-style:none; /*tira as bolinhas do conteudo do menu*/
    text-decoration:none; /*tira o _ */
    padding: 20px;
}

.center {
    text-align: center;
    margin: 80px;
}
.center p{
    padding: 30px;
}
.center nav ul li {
    font-size: 40px;
}
.logo-footer{
    font-size: 32px;
}
